

body{
	background-color:black;
}

a:link  {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


#next{
	width: 100px;
	height: 1000px;
	margin-left:-10px;
	margin-top: 0px;
}

#pw{
	position: relative;
	font-family: helvetica;
	font-size: 37px;
	transform: rotate(90deg);
	margin-top: -170px;
	margin-left:1400px;
	color: #gray;

}
#a1{
	position: relative;
	font-family: helvetica;
	font-size: 35px;
	transform: rotate(90deg);
	margin-top: 250px;
	margin-left:1400px;
	color: #gray;
	opacity: 1;
}
#ap1{
	position: relative;
	margin-top: -220px;
	margin-left: 900px;
	transform: rotate(0deg);
	visibility: hidden


}
#t1{
	position: relative;
	font-family: helvetica;
	font-size: 37px;
	transform: rotate(90deg);
	margin-top:-1000px;
	margin-left:900px;
	color: #gray;
	opacity: 1;}
#tp1{
 	position: relative;
	margin-top: 100px;
	margin-left: 700px;
	transform: rotate(0deg);
	visibility: hidden
}


#lp1{
	position: relative;
	margin-top: -200px;
	margin-left: 300px;
	transform: rotate(0deg);
	visibility: :hidden;
}

#l1{ 
	position: relative;
	font-family: helvetica;
	font-size: 37px;
	transform: rotate(90deg);
	margin-top: 130px;
	margin-left:900px;
	color: #gray;
	opacity: 1;
}

#agp1{
	position: relative;
	margin-top: -200px;
	margin-left:100px;
	transform: rotate(0deg);
	visibility: hidden
}

#a2{
	position: relative;
	font-family: helvetica;
	font-size: 37px;
	transform: rotate(90deg);
	margin-top: 120px;
	margin-left:900px;
	color: gray;
	opacity: 1;
}

#m2{position: relative;
	font-family: helvetica;
	font-size: 37px;
	transform: rotate(90deg);
	margin-top: 100px;
	margin-left:900px;
	color: gray;
	opacity: 1;
}

#mp1{
		position: relative;
	margin-top: -90px;
	margin-left:300px;
	transform: rotate(0deg);
	visibility: hidden
}

#ig12{
	position: fixed;
	margin-top: 10px;
	margin-left:500px;
	transform: rotate(0deg);
	visibility: visible;
}

#cp
{
	position: relative;
	margin-top: -70px;
	margin-left: 600px;
	transform: rotate(0deg);
	visibility: hidden
}

#ch1
{position: relative;
	font-family: helvetica;
	font-size: 37px;
	transform: rotate(90deg);
	margin-top: 100px;
	margin-left:900px;
	color: gray;
	opacity: 1;
}

#bg
{
	position: relative;
	font-family: helvetica;
	font-size: 37px;
	transform: rotate(90deg);
	margin-top: 100px;
	margin-left:900px;
	color: gray;
	opacity: 1;
}

#bgp
{
	position: relative;
	margin-top: 1170px;
	margin-left: 900px;
	transform: rotate(0deg);
	visibility: hidden
}

#mc
{
	position: relative;
	margin-top: 100px;
	margin-left: 1000px;
	transform: rotate(0deg);
	visibility: hidden
}
#mcw
{
	position: relative;
	font-family: helvetica;
	font-size: 37px;
	transform: rotate(90deg);
	margin-top: 100px;
	margin-left:900px;
	color: gray;
	opacity: 1;	
}
#lav
{
	position: relative;
	font-family: helvetica;
	font-size: 37px;
	transform: rotate(90deg);
	margin-top: 100px;
	margin-left:900px;
	color: gray;
	opacity: 1;	
}

#new
{
	position: relative;
	font-family: helvetica;
	font-size: 37px;
	transform: rotate(90deg);
	margin-top: -1300px;
	margin-left:900px;
	color: #gray;
	opacity: 1;	
}

.hi {
  opacity: 0;
}

.hi:hover {
  opacity: 1;
}


#pw .m {
	margin-top:-1720px;
	top:800px;
	width: 200px;
	height: 1800px;
	font-size: 37px;
position:relative;
font-family: helvetica;
/*visibility:hidden;*/
color: gray;
}

/*#pw:hover .m {

visibility:visible;
}
*/


.hi2 {
  opacity: 0;
}

.hi2:hover {
  opacity: 1;
}


#a1 .c{
	margin-top:-1680px;
	top:800px;
	width: 300px;
	height: 1800px;
	font-size: 37px;
position:relative;
	/*visibility: hidden;*/
	font-family: helvetica;
	color: gray;
}

/*#a1:hover .c {
visibility:visible;
}*/

.hi3 {
  opacity: 0;
}

.hi3:hover {
  opacity: 1;
}

#t1 .uk{
	margin-top:-2620px;
	top:550px;
	width: 240px;
	height: 1800px;
	font-size: 36px;
position:relative;
/*	visibility: hidden;*/
	font-family: helvetica;
	color: gray;
}

/*#t1:hover .uk {
visibility:visible;
}*/

.hi4 {
  opacity: 0;
}

.hi4:hover {
  opacity: 1;
}

#l1 .f{
	margin-top:-1340px;
	top:550px;
	width: 240px;
	height: 1800px;
	font-size: 36px;
position:relative;
	/*visibility: hidden;*/
	font-family: helvetica;
	color: gray;
}
/*
#l1:hover .f{
visibility:visible;
}*/

.hi5 {
  opacity: 0;
}

.hi5:hover {
  opacity: 1;
}

#a2 .afr{
	margin-top:-1680px;
	top:550px;
	width: 240px;
	height: 1800px;
	font-size: 36px;
position:relative;
	/*visibility: hidden;*/
	font-family: helvetica;
	color: gray;
}

/*#a2:hover .afr{
visibility:visible;
}*/
.hi6 {
  opacity: 0;
}

.hi6:hover {
  opacity: 1;
}

#m2 .rush{
	margin-top:-1700px;
	top:550px;
	width: 240px;
	height: 1800px;
	font-size: 36px;
	
	position:relative;
	/*visibility: hidden;*/
	font-family: helvetica;
	color: gray;
}

/*#m2:hover .rush{
visibility:visible;
}*/

.hi7 {
  opacity: 0;
}

.hi7:hover {
  opacity: 1;
}

#ch1 .in{
	margin-top:-1725px;
	top:550px;
	width: 300px;
	height: 1800px;
	font-size: 36px;
	
	position:relative;
	/*visibility: hidden;*/
	font-family: helvetica;
	color: gray;
	}

/*#ch1:hover .in{
visibility:visible;
}*/

.hi8 {
  opacity: 0;
}

.hi8:hover {
  opacity: 1;
} 

#bg .beij{
	margin-top:-1380px;
	top:550px;
	width: 300px;
	height: 1800px;
	font-size: 36px;
	
	position:relative;
	/*visibility: hidden;*/
	font-family: helvetica;
	color: gray;
	
}

/*#bg:hover .beij{
visibility:visible;
}*/

.hi9 {
  opacity: 0;
}

.hi9:hover {
  opacity: 1;
}

#mcw .kor{
	margin-top:-3180px;
	top:550px;
	width: 300px;
	height: 1800px;
	font-size: 36px;
	position:relative;
	/*visibility: hidden;*/
	font-family: helvetica;
	color: gray;
	
}

/*#mcw:hover .kor{
visibility:visible;
}*/

.hi10 {
  opacity: 0;
}

.hi10:hover {
  opacity: 1;
}

#lav .aust{
	margin-top:-1580px;
	top:550px;
	width: 300px;
	height: 1800px;
	font-size: 36px;
	position:relative;
/*	visibility: hidden;*/
	font-family: helvetica;
	color: gray;
	
}

/*#lav:hover .aust{
visibility:visible;
}*/

.hi11 {
  opacity: 0;
}

.hi11:hover {
  opacity: 1;
}

#new .zeal{
	margin-top:-600px;
	top:550px;
	width: 300px;
	height: 1800px;
	font-size: 36px;
	position:relative;
	/*visibility: hidden;*/
	font-family: helvetica;
	color: gray;
	
}

#omg5555{
  position: relative;
  margin-top: -920px;
  margin-left: 350px;
  transform: rotate(0deg);
  visibility: visible
}

/*#new:hover .zeal{
visibility:visible;
}
*/



.container {
  
  width:1000px;
  height: 300px;
  color:black;
  visibility: hidden;
}
#but{
	color: purple	;
	transform: rotate(0deg);
  width:700px;
  margin-top:-4905px;
  margin-left: 500px;
  visibility: visible;
  }


  .but{
  visibility:visible;
  font-color: white;
  color:transparent;
  font-family: 'Karla', sans-serif;
  font-size:180px;
  text-decoration:none;
  font-weight:bold;
  font-style:normal;
  float:left;
  text-shadow: purple;
  animation-name:bounce_but;
    -o-animation-name:bounce_but;
    -ms-animation-name:bounce_but;
    -webkit-animation-name:bounce_but;
    -moz-animation-name:bounce_but;
  animation-duration:2.09s;
    -o-animation-duration:2.09s;
    -ms-animation-duration:2.09s;
    -webkit-animation-duration:2.09s;
    -moz-animation-duration:2.09s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}




#inTurnBlurringTextG_1{
  animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
 	
}
#inTurnBlurringTextG_2{
  animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}
#inTurnBlurringTextG_3{
  animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}
#inTurnBlurringTextG_4{
  animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}
#inTurnBlurringTextG_5{
  animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}
    #inTurnBlurringTextG_6{
  animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}



.container1{
width:1000px;
  height: 300px;
  top:400px;
  color:#EEE9BF;

}

/*.container:hover {
  visibility: visible;
}*/

#planning{
	color: purple	;
	transform: rotate(0deg);
  width:700px;
  /*visibility: visible;*/
  margin-top:90px;
  margin-left: 500px;
  }

  .planning{
  font-color: white;
  color:transparent;
  font-family: 'Karla', sans-serif;
  font-size:180px;
  text-decoration:none;
  font-weight:bold;
  font-style:normal;
  float:left;
  text-shadow: purple;
  animation-name:bounce_but;
    -o-animation-name:bounce_but;
    -ms-animation-name:bounce_but;
    -webkit-animation-name:bounce_but;
    -moz-animation-name:bounce_but;
  animation-duration:2.09s;
    -o-animation-duration:2.09s;
    -ms-animation-duration:2.09s;
    -webkit-animation-duration:2.09s;
    -moz-animation-duration:2.09s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;

}

#inTurnBlurringTextG_7{
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;

}
#inTurnBlurringTextG_8{
 animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}

#inTurnBlurringTextG_9{
   animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}
#inTurnBlurringTextG_10{
  animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}

#inTurnBlurringTextG_11{
  animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}
#inTurnBlurringTextG_12{
   animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}


.container2
{
width:1000px;
  height: 300px;
  top:400px;
  color:#EEE9BF;
}

#she{
color: purple	;
	transform: rotate(0deg);
  width:700px;
  visibility: visible;
  margin-top:90px;
  margin-left: 500px;
  position:relative;
  }

.she{
font-color: white;
  color:transparent;
  font-family: 'Karla', sans-serif;
  font-size:180px;
  text-decoration:none;
  font-weight:bold;
  font-style:normal;
  float:left;
  text-shadow: purple;
  animation-name:bounce_but;
    -o-animation-name:bounce_but;
    -ms-animation-name:bounce_but;
    -webkit-animation-name:bounce_but;
    -moz-animation-name:bounce_but;
  animation-duration:2.09s;
    -o-animation-duration:2.09s;
    -ms-animation-duration:2.09s;
    -webkit-animation-duration:2.09s;
    -moz-animation-duration:2.09s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}

#inTurnBlurringTextG_13{
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;

}
#inTurnBlurringTextG_14{
 animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}

#inTurnBlurringTextG_15{
   animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}
#inTurnBlurringTextG_16{
  animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}

#inTurnBlurringTextG_17{
  animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}
#inTurnBlurringTextG_18{
   animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}



.container3
{
width:1000px;
  height: 300px;
  top:400px;
  color:#EEE9BF;
}

#had{
color: purple	;
	transform: rotate(0deg);
  width:700px;
  visibility: visible;
  margin-top:90px;
  margin-left: 500px;
  position:relative;
  }

.had{
font-color: white;
  color:transparent;
  font-family: 'Karla', sans-serif;
  font-size:180px;
  text-decoration:none;
  font-weight:bold;
  font-style:normal;
  float:left;
  text-shadow: purple;
  animation-name:bounce_but;
    -o-animation-name:bounce_but;
    -ms-animation-name:bounce_but;
    -webkit-animation-name:bounce_but;
    -moz-animation-name:bounce_but;
  animation-duration:2.09s;
    -o-animation-duration:2.09s;
    -ms-animation-duration:2.09s;
    -webkit-animation-duration:2.09s;
    -moz-animation-duration:2.09s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}



#inTurnBlurringTextG_19{
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;

}
#inTurnBlurringTextG_20{
 animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}

#inTurnBlurringTextG_21{
   animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}
#inTurnBlurringTextG_22{
  animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}

#inTurnBlurringTextG_23{
  animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}
#inTurnBlurringTextG_24{
   animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}

.container4
{
width:1000px;
  height: 300px;
  top:400px;
  color:#EEE9BF;
}

#uhm{
color: purple	;
	transform: rotate(0deg);
  width:900px;
  visibility: visible;
  margin-top:90px;
  margin-left: 430px;
  position:relative;
  }

.uhm{
font-color: white;
  color:transparent;
  font-family: 'Karla', sans-serif;
  font-size:180px;
  text-decoration:none;
  font-weight:bold;
  font-style:normal;
  float:left;
  text-shadow: purple;
  animation-name:bounce_but;
    -o-animation-name:bounce_but;
    -ms-animation-name:bounce_but;
    -webkit-animation-name:bounce_but;
    -moz-animation-name:bounce_but;
  animation-duration:2.09s;
    -o-animation-duration:2.09s;
    -ms-animation-duration:2.09s;
    -webkit-animation-duration:2.09s;
    -moz-animation-duration:2.09s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}


#inTurnBlurringTextG_25{
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;

}
#inTurnBlurringTextG_26{
 animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}

#inTurnBlurringTextG_27{
   animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}
#inTurnBlurringTextG_28{
  animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}

#inTurnBlurringTextG_29{
  animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}
#inTurnBlurringTextG_30{
   animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
    }
#inTurnBlurringTextG_31{
   animation-delay:1.75s;
    -o-animation-delay:1.75s;
    -ms-animation-delay:1.75s;
    -webkit-animation-delay:1.75s;
    -moz-animation-delay:1.75s;
    }

.container5
{
width:1000px;
  height: 300px;
  top:400px;
  color:#EEE9BF;
}

#aigo{
color: purple	;
	transform: rotate(0deg);
  width:900px;
  visibility: visible;
  margin-top:100px;
  margin-left: 430px;
  position:relative;
  }

.aigo{
font-color: white;
  color:transparent;
  font-family: 'Karla', sans-serif;
  font-size:180px;
  text-decoration:none;
  font-weight:bold;
  font-style:normal;
  float:left;
  text-shadow: purple;
  animation-name:bounce_but;
    -o-animation-name:bounce_but;
    -ms-animation-name:bounce_but;
    -webkit-animation-name:bounce_but;
    -moz-animation-name:bounce_but;
  animation-duration:2.09s;
    -o-animation-duration:2.09s;
    -ms-animation-duration:2.09s;
    -webkit-animation-duration:2.09s;
    -moz-animation-duration:2.09s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}


#inTurnBlurringTextG_32{
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;

}
#inTurnBlurringTextG_33{
 animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}

#inTurnBlurringTextG_34{
   animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}
#inTurnBlurringTextG_35{
  animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}

#inTurnBlurringTextG_36{
  animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}
#inTurnBlurringTextG_37{
   animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
    }
#inTurnBlurringTextG_38{
   animation-delay:1.75s;
    -o-animation-delay:1.75s;
    -ms-animation-delay:1.75s;
    -webkit-animation-delay:1.75s;
    -moz-animation-delay:1.75s;
    }


.container6
{
width:1000px;
  height: 300px;
  top:400px;
  color:#EEE9BF;
}

#indo2{
color: purple ;
  transform: rotate(0deg);
  width:900px;
  visibility: visible;
  margin-top:100px;
  margin-left: 520px;
  position:relative;
  }

.indo2{
font-color: white;
  color:transparent;
  font-family: 'Karla', sans-serif;
  font-size:180px;
  text-decoration:none;
  font-weight:bold;
  font-style:normal;
  float:left;
  text-shadow: purple;
  animation-name:bounce_but;
    -o-animation-name:bounce_but;
    -ms-animation-name:bounce_but;
    -webkit-animation-name:bounce_but;
    -moz-animation-name:bounce_but;
  animation-duration:2.09s;
    -o-animation-duration:2.09s;
    -ms-animation-duration:2.09s;
    -webkit-animation-duration:2.09s;
    -moz-animation-duration:2.09s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}


#inTurnBlurringTextG_39{
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;

}
#inTurnBlurringTextG_40{
 animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}

#inTurnBlurringTextG_41{
   animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}
#inTurnBlurringTextG_42{
  animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}

#inTurnBlurringTextG_43{
  animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}
#inTurnBlurringTextG_44{
   animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
    }


.container7
{
width:1000px;
  height: 300px;
  top:400px;
  color:#EEE9BF;
}

#beijing{
color: purple ;
  transform: rotate(0deg);
  width:900px;
  visibility: visible;
  margin-top:180px;
  margin-left: 520px;
  position:relative;
  }

.beijing{
font-color: white;
  color:transparent;
  font-family: 'Karla', sans-serif;
  font-size:180px;
  text-decoration:none;
  font-weight:bold;
  font-style:normal;
  float:left;
  text-shadow: purple;
  animation-name:bounce_but;
    -o-animation-name:bounce_but;
    -ms-animation-name:bounce_but;
    -webkit-animation-name:bounce_but;
    -moz-animation-name:bounce_but;
  animation-duration:2.09s;
    -o-animation-duration:2.09s;
    -ms-animation-duration:2.09s;
    -webkit-animation-duration:2.09s;
    -moz-animation-duration:2.09s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}


#inTurnBlurringTextG_45{
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;

}
#inTurnBlurringTextG_46{
 animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}

#inTurnBlurringTextG_47{
   animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}
#inTurnBlurringTextG_48{
  animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}

#inTurnBlurringTextG_49{
  animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}
#inTurnBlurringTextG_50{
   animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
    }


.container8
{
width:1000px;
  height: 300px;
  top:400px;
  color:#EEE9BF;
}

#korea{
color: purple ;
  transform: rotate(0deg);
  width:900px;
  visibility: visible;
  margin-top:70px;
  margin-left: 520px;
  position:relative;
  }

.korea{
font-color: white;
  color:transparent;
  font-family: 'Karla', sans-serif;
  font-size:180px;
  text-decoration:none;
  font-weight:bold;
  font-style:normal;
  float:left;
  text-shadow: purple;
  animation-name:bounce_but;
    -o-animation-name:bounce_but;
    -ms-animation-name:bounce_but;
    -webkit-animation-name:bounce_but;
    -moz-animation-name:bounce_but;
  animation-duration:2.09s;
    -o-animation-duration:2.09s;
    -ms-animation-duration:2.09s;
    -webkit-animation-duration:2.09s;
    -moz-animation-duration:2.09s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}


#inTurnBlurringTextG_51{
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;

}
#inTurnBlurringTextG_52{
 animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}

#inTurnBlurringTextG_53{
   animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}
#inTurnBlurringTextG_54{
  animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}

#inTurnBlurringTextG_55{
  animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}
#inTurnBlurringTextG_56{
   animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
    }


.container9
{
width:1000px;
  height: 300px;
  top:400px;
  color:#EEE9BF;
}

#australia{
color: purple ;
  transform: rotate(0deg);
  width:900px;
  visibility: visible;
  margin-top:70px;
  margin-left: 520px;
  position:relative;
  }

.australia{
font-color: white;
  color:transparent;
  font-family: 'Karla', sans-serif;
  font-size:180px;
  text-decoration:none;
  font-weight:bold;
  font-style:normal;
  float:left;
  text-shadow: purple;
  animation-name:bounce_but;
    -o-animation-name:bounce_but;
    -ms-animation-name:bounce_but;
    -webkit-animation-name:bounce_but;
    -moz-animation-name:bounce_but;
  animation-duration:2.09s;
    -o-animation-duration:2.09s;
    -ms-animation-duration:2.09s;
    -webkit-animation-duration:2.09s;
    -moz-animation-duration:2.09s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}


#inTurnBlurringTextG_51{
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;

}
#inTurnBlurringTextG_52{
 animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}

#inTurnBlurringTextG_53{
   animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}
#inTurnBlurringTextG_54{
  animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}

#inTurnBlurringTextG_55{
  animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}
#inTurnBlurringTextG_56{
   animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
    }



.container10
{
width:1000px;
  height: 300px;
  top:400px;
  color:#EEE9BF;
}

#newzeland{
color: purple ;
  transform: rotate(0deg);
  width:900px;
  visibility: visible;
  margin-top:180px;
  margin-left: 520px;
  position:relative;
  }

.newzeland{
font-color: white;
  color:transparent;
  font-family: 'Karla', sans-serif;
  font-size:180px;
  text-decoration:none;
  font-weight:bold;
  font-style:normal;
  float:left;
  text-shadow: purple;
  animation-name:bounce_but;
    -o-animation-name:bounce_but;
    -ms-animation-name:bounce_but;
    -webkit-animation-name:bounce_but;
    -moz-animation-name:bounce_but;
  animation-duration:2.09s;
    -o-animation-duration:2.09s;
    -ms-animation-duration:2.09s;
    -webkit-animation-duration:2.09s;
    -moz-animation-duration:2.09s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}


#inTurnBlurringTextG_51{
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;

}
#inTurnBlurringTextG_52{
 animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}

#inTurnBlurringTextG_53{
   animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}
#inTurnBlurringTextG_54{
  animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}

#inTurnBlurringTextG_55{
  animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}
#inTurnBlurringTextG_56{
   animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
    }


@keyframes bounce_but{
  0%{
    text-shadow: purple;
  }

  100%{
    text-shadow: rgb(255,255,255) 0 0 50px;
  }
}

@-o-keyframes bounce_but{
  0%{
    text-shadow: rgb(0,0,0) 0 0 0;
  }

  100%{
    text-shadow: rgb(255,255,255) 0 0 50px;
  }
}

@-ms-keyframes bounce_but{
  0%{
    text-shadow: rgb(0,0,0) 0 0 0;
  }

  100%{
    text-shadow: rgb(255,255,255) 0 0 50px;
  }
}

@-webkit-keyframes bounce_but{
  0%{
    text-shadow: rgb(0,0,0) 0 0 0;
  }

  100%{
    text-shadow: rgb(255,255,255) 0 0 50px;
  }
}

@-moz-keyframes bounce_but{
  0%{
    text-shadow: #white;
  }

  100%{
    text-shadow: rgb(255,255,255) 0 0 50px;
  }

  
#sf{
  position: fixed;
  margin-top: -220px;
  margin-left: 900px;
  transform: rotate(0deg);
  visibility: visible;

}
