.hide {
  opacity: 0;
}

.gradient {
  background: linear-gradient(135deg, #034000 1%,#fff200 20%,#00ffdd 40%,#090df9 60%,#ff0af6 80%,#ff0004 100%);
  color: white;
}

.bye { transform: skewY(-20deg);

}