body{	background-color:#74BDD3;}

#hand{ left:452px;
	top:352px;
	position:absolute;
 }
#gen1{ left:525px;
top: -100px;
position:absolute;
 }


  #gen{ 
 	margin-left:512px;
	margin-top:-82px;
	opacity:1;
	position:absolute;
	color: #74bdd3;
	z-index: 2;
 }

#mag{ top:30px;
	left:800px;
	position: absolute; 
	z-index: 1;
}

#cau
{   top:-119px;
	left:-240px;
	position: absolute; }

#cau1{
  top:-119px;
	left:1250px;
	position: absolute; }


